
<div>

    <mat-toolbar style="background-color: rgb(30, 86, 67); color: whitesmoke; overflow: hidden;">
        Squarovention <span style="color: red;">Task Manager</span>

        <span class="example-spacer"></span>

        <mat-chip-list>
            <mat-chip selected color="warn" routerLink="/home">home</mat-chip>
            &nbsp;&nbsp;
            <mat-chip selected color="primary" routerLink="/user"><a >user</a></mat-chip>
        </mat-chip-list>          
    
    </mat-toolbar>

</div>
<div>
    <router-outlet></router-outlet>
</div>